            .game-container {
                background-color: #f0e3da;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                gap: 15px;
            }
            
            .game-container title {
                text-align: center;
                display: block;
            }
            
            .game-title {
				background-color: #f17a91;
				padding: 12px;
				padding-left: 60px;
				padding-right: 60px;
				border-radius: 5px;
                text-align: center;
                font-size: 3rem;
                display: flex;
                justify-content: center;
                gap: 4px;
                margin: 0;
            }
            
            .game-title span {
                font-weight: bold;
                font-family: arial;
            }
            
            .game-title span:nth-child(1) {
                color: #ffeff3;
            }
            
            .game-title span:nth-child(2) {
                color: #913d52;
            }
            
            .game-title span:nth-child(3) {
                color: #ffeff3;
            }
            
            .game-title span:nth-child(4) {
                color: #913d52;
            }
            
            .score-container {
                background-color: #f17a91;
                padding: 10px 15px;
                border-radius: 3px;
                text-align: center;
                color: #fffbf5;
                font-family: arial;
                font-weight: bold;
                text-transform: uppercase;
            }
            
            .score-container span {
                text-align: center;
                display: block;
            }

			.score-container button {
				background: #f0e3da;
				font-family: arial;
				font-weight: bold;
				border-radius: 20px;
				border-color: #b04466;
				color: #913d52;
				transition: background-color 1s ease, transform 1s ease;
			}

			button:hover {
  background-color: #f8c4d9;
  transform: scale(1.1);
}
            
            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80hv;
            }
            
            .grid-container {
                display: grid;
                gap: 8px;
                background-color: #debea2;
                padding: 12px;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: 1fr;
                width: 600px;
                height: 600px;
                border-radius: 3px;
            }
            
            .grid-container div {
                border-radius: 2px;
				border: outset 4px #cda67a;
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1 / 1;
            }

			.cell {
				background: #cda67a;
				font-size: 2rem;
				font-family: arial;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: transform ease-in;
			}

.tile-2 {
    background: #ffeff3;
    color: #913d52;
}

.tile-4 {
    background: #fcd6e0;
    color: #913d52;
}

.tile-8 {
    background: #ffbdce;
    color: #913d52;
}

.tile-16 {
    background: #ff93a9;
    color: #913d52;
}

.tile-32 {
    background: #f17a91;
    color: #ffeff3;
}

.tile-64 {
    background: #de5f78;
    color: #ffeff3;
}

.tile-128 {
    background: #cf4162;
    color: #ffeff3;
}

.tile-256 {
    background: #aa2f56;
    color: #ffeff3;
}

.tile-512 {
    background: #941e44;
    color: #ffeff3;
}

.tile-1024 {
    background: #7f174b;
    color: #ffeff3;
}

.tile-2048 {
    background: #6b1337;
    color: #ffeff3;
}