:root {
	--text-color: #ffefe7;
	--bg-color: #e7ddd9;
	--bg-light: #f7ece8;
	--dark-accent: #4e3d5e;
	--light-accent: #ebddfc;
	--primary: #b8a6dd;
	--grid-bg: #4e3d5e;
	--grid-cells: #7c6293;

	--ffamily: arial;
	--fweight: bold;
	--font: bold 1.5rem arial;
}

/***********************/
/* Main game container */
/***********************/

.loadingScreen {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100vh;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: var(--font);
	text-shadow: 2px 4px 5px var(--dark-accent);
	color: var(--primary);
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 15px;
	background-color: var(--bg-color);
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

.loader {
	width: 120px;
	height: 20px;
	border-radius: 20px;
	background:
		linear-gradient(var(--primary) 0 0) 0/0% no-repeat #eee;
	animation: l2 1s infinite steps(10);
}

@keyframes l2 {
	100% {
		background-size: 110%
	}
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}

	to {
		bottom: 0px;
		opacity: 1
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

.header {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	padding: 10px;
	gap: 4rem;
}

.game-title {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	max-width: 200px;
	min-width: 200px;
	gap: 6px;
	font: var(--font);
	padding: 10px;
	border-radius: 0.2rem;
	font-size: 3rem;
	color: var(--bg-light);
	background-color: var(--primary);
}

.score-container {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	max-width: 200px;
	min-width: 200px;
	font: var(--font);
	padding: 10px;
	border-radius: 0.2rem;
	font-size: 2rem;
	color: var(--text-color);
	background-color: var(--primary);

}

/***********/
/* Buttons */
/***********/

.button {
	position: relative;
	width: 20%;
	height: 160%;
	max-width: 200px;
	min-width: 200px;
}

.button button {
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 20rem;
	font: var(--font);
	color: var(--primary);
	border-color: var(--dark-accent);
	background: var(--bg-light);
	transition: background-color 1s ease, transform 1s ease;
}

button:hover {
	background-color: var(--light-accent);
	transform: scale(1.1);
}

/***********/
/* Popup */
/***********/

.popupwin {
	display: none;
	position: fixed;
	align-items: center;
	top: 30%;
	left: 50%;
	width: 40%;
	height: 10%;
	padding: 20px;
	border: 2px solid var(--dark-accent);
	border-radius: 1rem;
	font: var(--font);
	text-transform: uppercase;
	color: var(--primary);
	background-color: var(--bg-color);
	transform: translate(-50%, -50%);
}

.popuplose {
	display: none;
	position: fixed;
	align-items: center;
	top: 30%;
	left: 50%;
	width: 40%;
	height: 10%;
	padding: 20px;
	border: 2px solid var(--dark-accent);
	border-radius: 1rem;
	font: var(--font);
	text-transform: uppercase;
	color: var(--primary);
	background-color: var(--bg-color);
	transform: translate(-50%, -50%);
}

.popup button {
	padding: 12px;
	width: 20%;
	border-radius: 1rem;
	font: var(--font);
	font-weight: var(--fweight);
	color: var(--primary);
	border-color: var(--dark-accent);
	background: var(--bg-light);
}

.open-popup {
	display: block;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 30, 37, 0.5);
	z-index: 999;
}


/********/
/* Grid */
/********/
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80hv;
}

.grid-container {
	display: grid;
	position: relative;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	width: 80%;
	height: 80%;
	padding: 12px;
	gap: 8px;
	border-radius: 3px;
	background-color: var(--grid-bg);
	max-width: 600px;
}

.grid-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	border-radius: 2px;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font: var(--font);
	font-size: 4rem;
	background: var(--grid-cells);
	transition: background 0.2s;
}

.new-tile {
	animation: pop-in 300ms ease-out;
}

@keyframes pop-in {
	0% {
		transform: scale(0.7);
		opacity: 0.5;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.sparkle-fa {
	position: absolute;
	z-index: -20px;
	font-size: 22px;
	/* cambia esto para hacerlas más grandes */
	color: var(--primary);
	/* puedes variar el color si quieres */
	opacity: 0;
	pointer-events: none;

	animation: sparkle-pop-fa 800ms ease-out forwards;
}

@keyframes sparkle-pop-fa {
	0% {
		transform: translate(0, 0) scale(0.2) rotate(0deg);
		opacity: 1;
	}

	70% {
		transform: translate(calc(var(--dx) * 24px), calc(var(--dy) * 24px)) scale(1.1) rotate(160deg);
		opacity: 1;
	}

	100% {
		transform: translate(calc(var(--dx) * 36px), calc(var(--dy) * 36px)) scale(0) rotate(300deg);
		opacity: 0;
	}
}


/*********/
/* Tiles */
/*********/

.tile-2 {
	background: var(--light-accent);
	color: var(--dark-accent);
}

.tile-4 {
	background: #fcd6e0;
	color: var(--dark-accent);
}

.tile-8 {
	background: #ffbdce;
	color: var(--dark-accent);
}

.tile-16 {
	background: #ae96de;
	color: var(--light-accent);
}

.tile-32 {
	background: #ff93a9;
	color: var(--dark-accent);
}

.tile-64 {
	background: #9076c4;
	color: var(--light-accent);
}

.tile-128 {
	background: #f17a91;
	color: var(--light-accent);
}

.tile-256 {
	background: #7447a4;
	color: var(--light-accent);
}

.tile-512 {
	background: #aa2f56;
	color: var(--light-accent);
}

.tile-1024 {
	background: #7f1757;
	color: var(--light-accent);
}

.tile-2048 {
	background: #6b1337;
	color: var(--light-accent);
}