:root {
	--light-text: #fbeee7;
	--dark-text: #483758;
	--bg-color: #f9f0e3;
	--bg-light: #f5f2ed;
	--dark-accent: #654b7c;
	--light-accent: #e7d4ff;
	--primary: #937bc3;
	--grid-bg: #342245;
	--grid-cells: #9575b1;
	--font: bold 1.5rem helvetica;
}

.sparkle-fa {
	position: absolute;
	z-index: -20px;
	font-size: 22px;
	color: #ffe285;
	opacity: 0;
	pointer-events: none;
	animation: sparkle-pop-fa 800ms ease-out forwards;
}

@keyframes sparkle-pop-fa {
	0% {
		transform: translate(0, 0) scale(0.2) rotate(0deg);
		opacity: 1;
	}

	70% {
		transform: translate(calc(var(--dx) * 24px), calc(var(--dy) * 24px)) scale(1.1) rotate(160deg);
		opacity: 1;
	}

	100% {
		transform: translate(calc(var(--dx) * 36px), calc(var(--dy) * 36px)) scale(0) rotate(300deg);
		opacity: 0;
	}
}

/*********/
/* Tiles */
/*********/

.tile-2 {
	background: #f6dffd;
	color: var(--dark-text);
	text-shadow: 0px 0px 4px #ba95c6;
}

.tile-4 {
	background: #e3bff9;
	color: var(--dark-text);
	text-shadow: 0px 0px 4px #aa81c3;
}

.tile-8 {
	background: #ffbdce;
	color: var(--dark-text);
	text-shadow: 0px 0px 4px #de98a9;
}

.tile-16 {
	background: #ae96de;
	color: var(--dark-text);
	text-shadow: 0px 0px 4px #947cc4;
}

.tile-32 {
	background: #ff93a9;
	color: var(--dark-text);
	text-shadow: 0px 0px 4px #d87186;
}

.tile-64 {
	background: #9076c4;
	color: var(--light-text);
	text-shadow: 0px 0px 4px #6b529d;
}

.tile-128 {
	background: #f17a91;
	color: var(--dark-text);
	text-shadow: 0px 0px 4px #cc5970;
}

.tile-256 {
	background: #7447a4;
	color: var(--light-text);
	text-shadow: 0px 0px 4px #3d215b;
}

.tile-512 {
	background: #aa2f56;
	color: var(--light-text);
	text-shadow: 0px 0px 4px #771d39;
}

.tile-1024 {
	background: #822d61;
	color: var(--light-text);
	text-shadow: 0px 0px 4px #3d0929;
}

.tile-2048 {
	background: #512041;
	color: var(--light-text);
	text-shadow: 0px 0px 4px #38081c;
}